/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* font-family: 'Poppins', sans-serif; */

/* Resetting the default style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bs-cls: rgba(0, 0, 0, 0.3);
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --light-gray: hsl(0, 0%, 98%);
    --font-family: 'Poppins', sans-serif;
}

/* Utility Class */
.fw-200 {
    font-weight: 200;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.border-top-red {
border-top: 4px solid var(--red); 
}   

.border-top-blue {
    border-top: 4px solid var(--blue);
}

.border-top-orange {
    border-top: 4px solid var(--orange);
}

.border-top-cyan {
    border-top: 4px solid var(--cyan);
}

/* ***** */
body {
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* FEATURE CARD TEXT CONTENT */
.feature-card-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.big-heading {
    color: var(--grayish-blue);
    font-size: 2rem;
}

.small-heading {
    color: var(--dark-blue);
    font-size: 2rem;
}

.card-description {
    color: var(--grayish-blue);
    text-align: center;
    width: 30rem;
    padding: 1rem 0 0;
}

/* FEATURE CARD BANNER */
.feature-card-banner {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 4rem 0 0;
}

.banner-box {
    background-color: var(--white);
    box-shadow: 4px 2px 8px var(--bs-cls);
    border-radius: 8px;
    padding: 1.4rem 2rem;
}

.supervisor-box, .calculator-box {
    transform: translateY(9rem);
}

.banner-heading {
    font-size: 1.4rem;
    color: var(--dark-blue);
}

.banner-description {
    color: var(--grayish-blue);
    font-size: .9rem;
    width: 20rem;
    line-height: 1.5;
}

.banner-img {
    padding: 4rem 0 0;
    position: relative;
    left: 16rem;
}

/* Mobile Design */
@media (max-width: 786px) {

    .container {
        padding: 3rem 0 1rem;
    }

    .feature-card-text-content {
        margin: 0;
    }

    .big-heading, .small-heading {
        font-size: 1.6rem;
    }

    .card-description {
        max-width: 20rem;
    }
    
    .banner-box {
        margin: 0 0 1.5rem;
        width: 20rem;
    }
    
    .supervisor-box, .calculator-box {
        transform: translate(0);
    } 
    
    .banner-description {
        width: 17rem;
    }

    .banner-img {
        left: 12rem;
        padding: 3rem 0 0;
    }
}